.editList {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}
#Update-Container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
  width: 500px;
}
#Update-Container input {
  width: 70%;
  margin: 5px;
  border: none;
  height: 30px;
  color: rgb(14, 131, 233);
  padding: 10px;
}
#Update-Container button {
  border: none;
  padding: 5px;
  height: 30px;
  margin: 5px;
  width: 5rem;
  color: black;
  background-color: white;
}
